In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
from sklearn.datasets import load_boston

In [69]:
dataset = load_boston()

C:\Users\Shailu\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [70]:
dataset.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [71]:
for ln in dataset.DESCR.split("\n"):
    print(ln)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [72]:
df = pd.DataFrame(dataset.data,columns=dataset.feature_names)

In [73]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [74]:
# target = pd.DataFrame(dataset.target,columns=["Price"])

In [75]:
# target.head()

In [76]:
df["MEDV"] = dataset.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [77]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [78]:
df[df.columns].dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [79]:
allFeatures = list(df.columns)

In [80]:
allFeatures

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT',
 'MEDV']

In [83]:
features_for_model = [f for f in allFeatures if f not in ['TAX','MEDV']]

In [84]:
features_for_model

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'PTRATIO',
 'B',
 'LSTAT']

In [85]:
#specify categorical
#check which floats are ints -- could probably be categories
cat_feats = np.where([df[f].apply(float.is_integer).all() for f in features_for_model])

In [95]:
cat_feats[0]

array([3, 8], dtype=int64)

In [42]:
features_for_model[3]

'CHAS'

In [59]:
# for i in list(cat_feats)[0]:   
     
#     feat = features_for_model[i]
#     df[feat]=df[feat].to_string()

In [88]:
df[features_for_model].dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [89]:
df['RAD']

0      1.0
1      2.0
2      2.0
3      3.0
4      3.0
      ...
501    1.0
502    1.0
503    1.0
504    1.0
505    1.0
Name: RAD, Length: 506, dtype: float64

In [92]:
# categorical_features = np.where(df[features_for_model].dtypes !=np.float64)

In [91]:
# categorical_features

(array([], dtype=int64),)

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df[features_for_model],df["MEDV"],test_size=0.3,random_state=101)

In [96]:
from catboost import CatBoostRegressor
params = {
    'iterations':1000,
    'loss_function':'RMSE',
    'learning_rate':0.001,
    'depth':3,
    'verbose':200,
    'eval_metric':'RMSE',
    'od_type':'Iter',
    'od_wait':20,
    'use_best_model':True,
    'random_seed':101,
    'cat_features':cat_feats[0]
}

regModel = CatBoostRegressor(**params)

In [97]:
regModel.fit(X_train,y_train,eval_set=(X_test,y_test),plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 8.7715358	test: 10.1290900	best: 10.1290900 (0)	total: 137ms	remaining: 2m 17s
200:	learn: 7.8685652	test: 9.1431538	best: 9.1431538 (200)	total: 249ms	remaining: 991ms
400:	learn: 7.1166538	test: 8.3115534	best: 8.3115534 (400)	total: 348ms	remaining: 520ms
600:	learn: 6.4853563	test: 7.6205162	best: 7.6205162 (600)	total: 442ms	remaining: 294ms
800:	learn: 5.9492564	test: 7.0349796	best: 7.0349796 (800)	total: 535ms	remaining: 133ms
999:	learn: 5.4911398	test: 6.5403685	best: 6.5403685 (999)	total: 626ms	remaining: 0us

bestTest = 6.540368499
bestIteration = 999

In [98]:
regModel.get_feature_importance()

array([ 3.86101704,  0.29356116,  1.35813815,  0.        ,  6.07602549,
       30.84631135,  1.64168194,  3.46619051,  0.        ,  2.99567645,
        0.53363288, 48.92776502])

In [99]:
 feat_imp = [i for i in zip(features_for_model,regModel.get_feature_importance())]

In [103]:
 df_feat_imp = pd.DataFrame(feat_imp,columns=["Features","Importance"])
 df_feat_imp.sort_values("Importance",ascending=False)

   Features  Importance
11    LSTAT   48.927765
5        RM   30.846311
4       NOX    6.076025
0      CRIM    3.861017
7       DIS    3.466191
9   PTRATIO    2.995676
6       AGE    1.641682
2     INDUS    1.358138
10        B    0.533633
1        ZN    0.293561
3      CHAS    0.000000
8       RAD    0.000000